<!-- BEGAIN PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-heartbeat"></i></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->               
              <!-- TEXT BASED LOGO -->
             <a class="navbar-brand" href="@Url.Action("Wpf_Medinova","Home")"><i class="fa fa-heartbeat"></i>WpF <span>Medinova</span></a>
                    <!-- IMG BASED LOGO  -->
              <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->                    
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Features","Home")">Features</a></li>
                <li><a href="@Url.Action("About_Us","Home")">About Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Service_Medical_Couselling","Home")">Medical Counseling</a></li>
                    <li><a href="@Url.Action("Service_Medical_Reasearch","Home")">Medical Research</a></li>
                    <li><a href="@Url.Action("Service_Blood_Bank","Home")">Blood Bank</a></li>
                  </ul>
                </li>
                        <li><a href="@Url.Action("Gallery","Home")">Gallery</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                   <li><a href="@Url.Action("News_Blog_Archive","Home")">Blog Archive</a></li>
                   <li><a href="@Url.Action("News_Blog_Archive_with_Left_Sidebar","Home")">Blog Archive with Left Sidebar</a></li>
                   <li><a href="@Url.Action("News_Blog_Archive_with_Right_Sidebar","Home")">Blog Archive with Right Sidebar</a></li>
                   <li><a href="@Url.Action("News_Blog_Single","Home")">Blog Single</a></li>
                   <li><a href="@Url.Action("News_Blog_Single_with_Left_Sidebar","Home")">Blog Single with Left Sidebar</a></li>
                   <li><a href="@Url.Action("News_Blog_Single_with_Right_Sidebar","Home")">Blog Single with Right Sidebar</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Page <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Page_404","Home")">404 Page</a></li>
                    <li><a href="#">Link Two</a></li>
                    <li><a href="#">Link Three</a></li>               
                  </ul>
                </li>
                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                <li><a href="@Url.Action("Login","Account")">Login</a></li>
              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
    </header>
    <!--=========== END HEADER SECTION ================-->


<@*section id="sliderArea">
    <!-- Start slider wrapper -->
    <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="images/14.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End First slide -->
        <!-- Start 2nd slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="images/15.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Best Template</strong> For your Medical Website</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End 2nd slide -->
        <!-- Start Third slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="images/7.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Third slide -->
        <!-- Start Fourth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="images/12.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Best Template</strong> For your Medical Website</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Fourth slide -->
        <!-- Start Fifth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="images/9.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Fifth slide -->
    </div><!-- /top-slider -->
</section>*@
<!--=========== END SLIDER SECTION ================-->